# ==========================================
# SERVICORE - ENVIRONMENT VARIABLES EXAMPLE
# ==========================================

# --- DATABASE (Spring Boot) ---
# En local usa: jdbc:postgresql://localhost:5432/servicore_db
DB_URL=jdbc:postgresql://hpst_railway:puerto/name_db
DB_USERNAME=user
DB_PASSWORD=password

# --- SECURITY ---
JWT_SECRET=jwt

# --- FRONTEND (Next.js) ---
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# --- DEPLOYMENT ---
PORT=8080